<div id="header">
    <a id="logo" routerLink="/" routerLinkActive="active">
        <picture>
            <source media="(min-width: 800px)" srcset="./favicon.ico">
            <img src="./favicon.ico">
        </picture>
    </a>
    <nav role="navigation" class="main-nav">
        <ul class="nav-group nav-group--top-bar">
            <li><a routerLink="/home"><mat-icon>home</mat-icon><span>Home</span></a></li>
            <li><a routerLink="/about"><mat-icon>info</mat-icon><span>About</span></a></li>
            <li><a target="_blank" href=""><mat-icon svgIcon="facebook"></mat-icon><span>Facebook</span></a></li>
            <li><a target="_blank" href=""><mat-icon svgIcon="linkedin"></mat-icon><span>LinkedIn</span></a></li>
            <li><a target="_blank" href=""><mat-icon svgIcon="twitter"></mat-icon><span>Twitter</span></a></li>
            <li><a target="_blank" href=""><mat-icon svgIcon="github"></mat-icon><span>Github</span></a></li>
            <li><a target="_blank" href="" class="last"><mat-icon>shopping_cart</mat-icon><span>Shop</span></a></li>
        </ul>
    </nav>
</div>